In [4]:
import pandas as pd

Criar uma vari√°vel que recebe o arquivo csv

In [5]:

notas = pd.read_csv("./arquivos/ratings.csv")

Mostrar as 5 primeiras linhas do arquivo

In [6]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Alterar o nome das colunas (localmente)

In [7]:
notas.columns = ["usuarioID", "filmeID", "nota", "momento"]
notas.head()

   usuarioID  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

olhar todos os resultados da coluna notas: (vai mostrar os 5 primeiros e os 5 ultimos)

In [8]:
notas["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64